/*         Мобильная разметка         */

.additional-products {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    right: -20px;
    top: 43px;

    width: 70%;
    height: 3px;
    background-color: @button-color;

    z-index: -1;
  }
}

.additional-products__heading {
  position: relative;

  width: 245px;
  margin: 0;
  padding: 27px 0 34px 0;

  font-size: @large-font-size;
  line-height: @huge-line-height;
  text-align: left;
  font-weight: normal;
  color: @heading-color;

  background-color: #ffffff;
}

.additional-products__list {
  margin: 0;
  padding: 0;

  list-style: none;
  border-top: 1px solid @border-color;
}

.additional-products__item {
  padding-bottom: 17px;

  border-bottom: 1px solid @border-color;
}

.additional-item__heading {
  margin: 0;
  margin-top: 15px;

  text-align: left;
  font-size: @little-font-size;
  line-height: @medium-line-height;
  font-weight: normal;
  text-transform: uppercase;
  color: #222222;
}

.additional-item__table {
  width: 100%;
  margin: 12px 0;

  border-collapse: collapse;
}

.additional-item__link {
  padding: 12px 0;
}

.additional-item__field {
  font-family: "Arial", sans-serif;
  font-size: @small-font-size;
  line-height: @small-line-height;
  text-align: left;
  font-weight: normal;
}

.additional-item__value {
  font-family: "Arial", sans-serif;
  font-size: @small-font-size;
  line-height: @small-line-height;
  text-align: right;
}

/*         Разметка под планшет         */

@media (min-width: @tablet-width) {
  .additional-products {
    &::after {
      content: "";

      position: absolute;
      right: -30px;
      left: -30px;
      top: 22px;

      width: auto;
      height: 3px;
      background-color: @button-color;

      z-index: -1;
    }
  }

  .additional-products__heading {
    width: 415px;
    margin-top: 70px;
    margin-bottom: 80px;
    margin-left: 10px;
    padding: 0 30px;

    font-size: @extra-large-font-size;
    line-height: @extra-huge-line-height;
  }

  .additional-products__list {
    border: none;
  }

  .additional-products__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 13px 38px 30px 40px;

    border: 1px solid @border-color;
  }

  .additional-products__item:not(:last-child) {
    border-bottom: none;
  }

  .additional-item__heading {
    margin-top: 13px;
    margin-bottom: 22px;
    padding: 0;

    width: 170px;

    font-size: @medium-font-size;
    line-height: @extra-large-line-height;
    text-transform: uppercase;
  }

  .additional-item__table {
    width: 45%;
  }

  .additional-item__value {
    width: 92px;
  }

  .additional-item__field,
  .additional-item__value {
    font-size: @little-font-size;
    line-height: @extra-large-line-height;
  }

  .additional-item__field {
    text-align: end;
    margin-right: 60px;
  }

  .additional-item__link {
    width: 100%;
    padding: 10px 0;

    font-size: @little-font-size;
  }
}

/*         Разметка под desktop        */

@media (min-width: @desktop-width) {
  .additional-products {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;

    &::after {
      top: 98px;
      right: -200%;
      left: -200%;
    }
  }

  .additional-products__item {
    width: 895px;
    justify-content: flex-start;
    padding: 0;

    border: none;
    border-top: 1px solid @border-color;
  }

  .additional-products__item:last-child {
    border-bottom: 1px solid @border-color;
  }

  .additional-products__heading {
    margin-top: 78px;
    margin-bottom: 80px;
    margin-left: -40px;
    padding: 0 40px;
    padding-right: 0;
  }

  .additional-products__list {
    display: flex;
    flex-wrap: wrap;
    width: 895px;
  }

  .additional-item__heading {
    margin: 0;
    padding: 25px 0;
    margin-right: auto;
  }

  .additional-item__table {
    width: 285px;
    margin: 0;
    margin-right: 40px;
  }

  .additional-item__field {
    text-align: start;
  }

  .additional-item__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 40px;
    padding: 0;

    font-size: @little-font-size;
  }
}
