/*         Мобильная разметка         */

.button {
  display: block;
  width: 100%;
  padding: 11px 0;

  font-family: "Oswald", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  background-color: @button-color;
  transition: 0.1s;

  &:hover,
  &:focus {
    background-color: @button-hover-color;
  }

  &:active {
    color: @button-link-main-color;
  }
}

.button--additional {
  color: @text-color;
  background-color: #f2f2f2;

  &:hover,
  &:focus {
    background-color: @button-additional-hover-color;
  }

  &:active {
    color: @button-link-major-color;
  }
}

/*         Разметка под планшет         */

@media (min-width: @tablet-width) {
  .button {
    width: 245px;
    padding: 10px 0;

    font-size: @medium-font-size;
    line-height: @extra-large-line-height;
  }
}
