/*         Мобильная разметка         */

.cat-program {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;

  background-position: 50% 0;
  background-repeat: no-repeat;

  z-index: 1;
}

.cat-program::after {
  content: "";

  position: absolute;
  top: 0;
  left: -20px;
  right: -20px;

  display: block;
  height: 305px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  z-index: -1;
}

.cat-program__heading {
  display: inline-block;
  margin: 30px 0 20px 0;
  padding: 0;

  font-size: @extra-large-font-size;
  text-align: center;
  font-weight: normal;
  color: #ffffff;
}

.cat-program__slogan {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;

  font-size: @small-font-size;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
}

.cat-program__link {
  margin-bottom: 20px;
}

/*         Разметка под планшет         */

@media (min-width: @tablet-width) {

  .cat-program {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    min-height: 850px;
    padding: 0 90px;

    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: 40% 100%;
  }

  .cat-program::after {
    display: none;
}

  .cat-program__heading {
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 60px;
    padding: 0;

    font-size: @huge-font-size;
    line-height: @XXL-line-height;
    text-align: left;
    color: @heading-color;
  }

  .cat-program__slogan {
    display: block;
    width: 100%;
    margin-top: 30px;

    font-size: @medium-font-size;
    line-height: @extra-large-line-height;
    text-align: left;
    color: @text-color;
  }

  .cat-program__product-image {
    display: none;
  }
}

/*         Разметка под desktop        */

@media (min-width: @desktop-width) {

  .cat-program {
    min-height: 600px;
    margin-bottom: 80px;
    margin-top: 30px;
    padding: 0 80px;

    background-image: url("../img/index-can-desktop@1x.png");
    background-position: 68% 0;
  }

  .cat-program__heading {
    margin-top: 85px;
  }

  .cat-program__slogan {
    margin-bottom: 50px;
  }
}
