/*         Мобильная разметка         */

.cat-fieldset {
  position: relative;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  border: none;

  &--cat-name {
    margin-bottom: 11px;
  }

  &--cat-comment {
    margin-bottom: 29px;
  }

  &--addon {
    margin-bottom: 25px;
  }
}

.cat-fieldset--addon .cat-form__legend {
  margin-bottom: 40px;
}

/*         Разметка под планшет         */

@media (min-width: @tablet-width) {
  .cat-fieldset {
    margin-bottom: 52px;

    &--cat-comment {
      margin-bottom: 63px;
    }

    &--addon {
      margin-bottom: 17px;
    }

    &--program {
      margin-bottom: 75px;
    }

    &--cat-name {
      margin-bottom: 47px;
    }
  }

  .cat-fieldset--addon .cat-form__legend {
    margin-bottom: 65px;
  }

  .cat-fieldset--addon .cat-form__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .cat-fieldset--addon .cat-form__item {
    width: 45%;
  }

  .cat-form__button {
    height: 52px;

    font-size: @medium-font-size;
    line-height: @extra-large-line-height;
  }
}

/*         Разметка под desktop        */

@media (min-width: @desktop-width) {
  .cat-fieldset {
    margin: 0;

    &--addon {
      width: 100%;
    }
  }

  .cat-fieldset--addon .cat-form__legend {
    margin-bottom: 14px;
  }

  .cat-fieldset--addon .cat-form__item {
    width: 240px;

    &:not(:nth-child(4n)) {
      margin-right: 85px;
    }

    &:nth-child(n+5) {
      margin-top: 30px;
    }
  }

  .cat-fieldset--addon .cat-form__list {
    justify-content: flex-start;
    margin: 50px 0 52px 0;
  }
}
