/*         Разметка под телефон         */

.cat-mode__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.cat-mode__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 17px 20px;
  padding-bottom: 0;

  background-color: @background-color;
}

.cat-mode__item:last-child {
  margin-bottom: 15px;
}

.cat-mode__heading {
  position: relative;

  display: flex;
  align-items: center;
  height: 60px;
  margin: 0;
  padding: 0;
  padding-left: 71px;

  font-size: @large-font-size;
  line-height: @extra-huge-line-height;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  color: @heading-color;

  &--slim {
    &::after {
      content: "";

      position: absolute;
      top: -1px;
      left: 10px;

      display: flex;
      justify-content: flex-start;
      width: 35px;
      height: 60px;

      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &::before {
      content: "";

      position: absolute;
      top: 6px;
      left: 2px;

      display: block;
      width: 50px;
      height: 51px;

      border-radius: 50%;
      background-color: @button-color;
    }
  }

  &--pro {
    &::after {
      content: "";

      position: absolute;
      top: 3px;
      left: -9px;

      display: flex;
      justify-content: flex-start;
      width: 70px;
      height: 60px;

      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &::before {
      content: "";

      position: absolute;
      top: 6px;
      left: 2px;

      display: block;
      width: 50px;
      height: 51px;

      border-radius: 50%;
      background-color: @button-color;
    }
  }
}

.cat-mode__description {
  display: inline-block;
  margin: 0;
  padding: 24px 0 20px 0;
  padding-top: 20px;

  font-family: "Arial", sans-serif;
  font-size: @small-font-size;
  line-height: @large-line-height;
  text-align: left;

  border-bottom: 1px solid @border-darker-color;
}

.cat-mode__link {
  position: relative;

  display: inline-block;
  margin: 19px 0 22px 0;
  padding-right: 45px;

  text-decoration: none;
  font-size: @little-font-size;
  text-align: left;
  text-transform: uppercase;
  color: @heading-color;

  &::after {
    content: "";

    position: absolute;
    top: 26%;
    right: 0;

    display: block;
    width: 35px;
    height: 12px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover::after {
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    color: @cat-link-active-color;
  }

  &:active::after {
    opacity: 0.2;
  }
}

/*         Разметка под планшет         */

@media (min-width: @tablet-width) {
  .cat-mode__item {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 65px 54px;
    padding-bottom: 0;
    margin-bottom: 30px;

    background-color: @background-color;

    &:last-child {
      margin-bottom: 30px;
    }

    &--slim {
      &::after {
        content: "";

        position: absolute;
        top: 79px;
        right: 92px;

        display: flex;
        justify-content: flex-start;
        width: 141px;
        height: 194px;

        background-image: url("../img/icon-cat-slim.svg");
        background-repeat: no-repeat;
        background-position: center;
      }

      &::before {
        content: "";

        position: absolute;
        top: 91px;
        right: 62px;

        display: block;
        width: 200px;
        height: 200px;

        border-radius: 50%;
        background-color: @button-color;
      }
    }

    &--pro {
      &::after {
        content: "";

        position: absolute;
        top: 134px;
        right: 28px;

        display: flex;
        justify-content: flex-start;
        width: 268px;
        height: 113px;

        background-image: url("../img/icon-cat-pro.svg");
        background-repeat: no-repeat;
        background-position: center;
      }

      &::before {
        content: "";

        position: absolute;
        top: 91px;
        right: 60px;

        display: block;
        width: 200px;
        height: 200px;

        border-radius: 50%;
        background-color: @button-color;
      }
    }
  }

  .cat-mode__heading {
    width: 100%;
    padding: 0;

    font-size: @extra-large-font-size;
    line-height: @extra-huge-line-height;

    &--slim {
      &::after {
        display: none;
      }

      &::before {
        display: none;
      }
    }

    &--pro {
      &::after {
        display: none;
      }

      &::before {
        display: none;
      }
    }
  }

  .cat-mode__description {
    width: 57%;
    margin: 0;
    padding-top: 12px;

    font-size: @little-font-size;
    line-height: @huge-line-height;
    text-align: left;
    color: @text-color;

    border: none;
  }

  .cat-mode__item--slim .cat-mode__description {
    width: 63%;
  }

  .cat-mode__link {
    position: relative;

    display: inline-block;
    width: 160px;
    margin: 36px 0;
    margin-bottom: 62px;

    font-size: @medium-font-size;
  }
}

/*         Разметка под desktop        */

@media (min-width: @desktop-width) {
  .cat-mode__list {
    display: flex;
    justify-content: space-between;
  }

  .cat-mode__item {
    width: 570px;
    margin-bottom: 0;
    padding: 40px 52px 0 52px;

    background-color: @background-color;

    &--slim {
      &::after {
        display: none;
      }

      &::before {
        display: none;
      }
    }

    &--pro {
      &::after {
        display: none;
      }

      &::before {
        display: none;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .cat-mode__heading {
    height: 106px;
    margin: 0;
    padding-left: 162px;
    padding-top: 8px;

    font-size: @extra-large-font-size;
    line-height: @extra-huge-line-height;
    text-align: left;
    white-space: nowrap;

    &--slim {
      &::after {
        content: "";

        position: absolute;
        top: 2px;
        left: 13px;

        display: flex;
        justify-content: flex-start;
        width: 71px;
        height: 97px;

        background-image: url("../img/icon-cat-slim.svg");
        background-repeat: no-repeat;
        background-position: center;
      }

      &::before {
        content: "";

        position: absolute;
        top: 8px;
        left: 0;

        display: block;
        width: 100px;
        height: 100px;

        border-radius: 50%;
        background-color: @button-color;
      }
    }

    &--pro {
      &::after {
        content: "";

        position: absolute;
        top: 29px;
        left: -18px;

        display: flex;
        justify-content: flex-start;
        width: 134px;
        height: 57px;

        background-image: url("../img/icon-cat-pro.svg");
        background-repeat: no-repeat;
        background-position: center;
      }

      &::before {
        content: "";

        position: absolute;
        top: 8px;
        left: 0;

        display: block;
        width: 100px;
        height: 100px;

        border-radius: 50%;
        background-color: @button-color;
      }
    }
  }

  .cat-mode__description {
    width: 470px;
    margin-top: 43px;
    padding: 0;

    font-size: @little-font-size;
    line-height: @huge-line-height;
  }

  .cat-mode__item--slim .cat-mode__description {
    width: 470px;
  }

  .cat-mode__link {
    margin-top: 31px;
  }
}
