/*         checkbox-label         */

.checkbox-label {
  position: relative;

  margin-bottom: 10px;
  padding-left: 46px;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;

    width: 30px;
    height: 30px;

    border: 1px solid @input-border-major-color;

    transform: translateY(-20%);
  }
}

.checkbox-label:hover::before {
  border: 1px solid @input-border-color;
}

/*         Разметка под планшет         */

@media (min-width: @tablet-width) {
  .checkbox-label {
    margin-bottom: 30px;
    padding-left: 59px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }
}

/*         Разметка под desktop        */

@media (min-width: @desktop-width) {
  .checkbox-label {
    margin-bottom: 0;
  }
}
