.example {
  padding: 0 20px;
  background-color: #f2f2f2;
}

.example__heading {
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 1.67;
  text-align: left;
  color: @heading-color;
}

.example__description {
  margin-bottom: 27px;

  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  text-align: left;
  color: @text-color;
}

.example__table {
  width: 100%;
  margin-bottom: 25px;
  border-collapse: collapse;
}

.example__value {
  padding: 18px 0;
  border: 1px solid black;

  font-size: 24px;
  text-align: center;
  color: @heading-color;
}

.example__field {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  text-align: center;
  color: @text-color;
}

.example__expenses {
  margin-bottom: 45px;

  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: @heading-color;
}
