/*         Мобильная разметка         */

.example {
  background-color: @background-color;
}

.example__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  padding-top: 30px;

  font-size: @extra-large-font-size;
  line-height: @XXL-line-height;
  text-align: left;
  font-weight: normal;
  color: @heading-color;
}

.example__description {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  font-family: "Arial", sans-serif;
  font-size: @small-font-size;
  line-height: @large-line-height;
  text-align: left;
}

.example__list {
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.example__item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.example__value {
  display: inline-block;
  width: 125px;
  margin: 0;
  padding: 18px 0;
  border: 1px solid @input-border-color;

  font-size: @large-font-size;
  line-height: @huge-line-height;
  text-align: center;
  color: @heading-color;
}

.example__field {
  position: absolute;
  bottom: -15px;

  display: flex;
  justify-content: center;
  width: 70px;
  margin: 0;
  padding: 0 20px;

  font-family: "Arial", sans-serif;
  font-size: @extra-small-font-size;
  line-height: @extra-small-line-height;
  text-align: center;

  background-color: @background-color;
}

.example__expenses-container {
  display: flex;
  justify-content: space-between;
  width: 185px;
  height: 50px;
  margin: 0 auto;
  margin-top: 35px;
}

.example__expenses {
  font-size: @small-font-size;
  text-align: center;
  line-height: @extra-large-line-height;
  text-transform: uppercase;
}

/*         Разметка под планшет         */

@media (min-width: @tablet-width) {
  .example {
    border-top: 1px solid @border-color;
    background-color: #ffffff;
  }

  .example__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 90px;

    background-color: #ffffff;
  }

  .example__heading {
    width: 100%;
    margin-bottom: 65px;
    padding-top: 50px;

    font-size: @huge-font-size;
    line-height: @XXL-line-height;
  }

  .example__description {
    width: 675px;
    margin-bottom: 55px;

    font-size: @little-font-size;
    line-height: @huge-line-height;
  }

  .example__list {
    width: 60%;
    justify-content: flex-start;
    margin: 0;
  }

  .example__item {
    margin-right: 45px;
  }

  .example__value {
    width: 165px;
    padding: 23px 0;

    font-size: 30px;
    line-height: 1.23;
  }

  .example__field {
    position: absolute;
    bottom: -13px;

    display: inline-block;
    width: inherit;
    padding: 8px;

    font-size: @small-font-size;
    line-height: @small-line-height;

    background-color: #ffffff;
  }

  .example__expenses-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 174px;
    height: 50px;
    margin-top: 0;
    margin-left: auto;
  }

  .example__expenses {
    margin: 0;

    font-size: @medium-font-size;
    line-height: @extra-large-line-height;
    text-align: right;
  }
}

/*         Разметка под desktop        */

@media (min-width: @desktop-width) {
  .example {
    position: relative;

    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;

    border: none;

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: -200%;
      right: -200%;

      display: block;
      height: 462px;
      background-image: linear-gradient(to right, @background-color 50%, @border-color 50%);

      z-index: -1;
    }
  }

  .example__container {
    display: block;
    position: relative;

    width: 46%;
    margin: 0;
    padding: 0 110px;
    padding-bottom: 75px;

    background-image: linear-gradient(to bottom, #ffffff 25.5%, @background-color 25.5%);
  }

  .example__heading {
    position: relative;
    z-index: 1;

    width: 100%;
    margin: 0;
    padding: 0;
  }

  .example__description {
    width: 435px;
    margin-top: 175px;
  }

  .example__field {
    background-color: @background-color;
  }

  .example__expenses-container {
    width: 340px;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin: 0;
    margin-top: 55px;
  }
}
