/*         Мобильная разметка         */

.map {
  padding: 0;
}

.map__text-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  padding: 28px 20px;
}

.map__text-container--colored {
  background-color: @background-color;
}

.map__map-image {
  display: block;
  height: 400px;
  width: 100%;
}

.map__invite {
  width: 125px;
  margin-right: auto;
  padding: 0;

  font-size: @little-font-size;
  line-height: @extra-large-line-height;
  text-align: left;
  color: @heading-color;
  text-transform: uppercase;
}

.map__adress {
  padding: 0;
  margin: 0;
  width: 135px;

  font-family: "Arial", sans-serif;
  font-size: @small-font-size;
  line-height: @extra-large-line-height;
  text-align: left;
}

/*         Разметка под планшет         */

@media (min-width: @tablet-width) {
  .map {
    margin-top: 70px;
  }

  .map--main {
    margin-top: 0;
  }

  .map__text-container {
    padding: 65px 70px;
  }

  .map__invite {
    width: 155px;

    font-size: @medium-font-size;
    line-height: @huge-line-height;
  }

  .map__adress-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .map__adress {
    width: 155px;

    font-size: @little-font-size;
    line-height: @extra-large-line-height;
    text-align: right;
  }
}

/*         Разметка под компуктер         */

@media (min-width: @desktop-width) {
  .map {
    position: relative;
  }

  .map--main {
    margin-top: 0;
  }

  .map__text-container {
    position: absolute;
    top: 95px;
    left: 110px;

    width: 570px;

    background-color: #ffffff;
  }

  .map__text-container--colored {
    background-color: #ffffff;
  }
}
