/*         Мобильная разметка         */

.page-footer {
  background-color: @background-color;
}

.page-footer__container {
  text-align: center;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__logo-image {
  margin: 0;
  padding: 35px 0;
}

.page-footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
  border-top: 1px solid @border-darker-color;
  border-bottom: 1px solid @border-darker-color;
}

.page-footer__copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-footer__logo-svg {
  margin: 25px 0;

  transition: 0.2s;
}

.page-footer__logo-svg:hover,
.page-footer__logo-svg:focus {
  fill: @button-color;
}

.page-footer__logo-svg:active {
  opacity: 0.3;
}

/*         Разметка под планшет         */

@media (min-width: @tablet-width) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 63px;
    padding-bottom: 63px;

    background-color: @background-color;
  }

  .page-footer__logo-image {
    margin: 0;
    padding: 0;
  }

  .page-footer__social {
    padding: 0;

    border: none;
  }

  .page-footer__copyright {
    padding: 0;
  }

  .copyright__item:last-child {
    margin-left: 23px;
  }
}
