/*         Мобильная разметка         */

.page-footer {
  background-color: @background-color;
}

.page-footer__container {
  text-align: center;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__logo-image {
  margin: 0;
  padding: 37px 0;
  padding-bottom: 32px;
}

.page-footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
  border-top: 1px solid @border-darker-color;
  border-bottom: 1px solid @border-darker-color;
}

.page-footer__social-item {
  &:first-child {
    margin-left: -11px;
  }

  &:not(:last-child) {
    margin-right: 38px;
  }
}

.page-footer__social-link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.page-footer__logo-svg {
  margin: 22px 0;

  fill: #666666;
  transition: 0.2s;

  &--vk {
    width: 22px;
    height: 12px;
  }

  &--insta {
    width: 17px;
    height: 17px;
  }

  &--fb {
    width: 10px;
    height: 19px;
  }

  &--htmlacademy {
    margin: 15px -7px;
  }

  &:hover,
  &:focus {
    fill: @button-color;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer__logo-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  text-decoration: none;
  color: @text-color;

  &:hover > .page-footer__logo-svg,
  &:focus > .page-footer__logo-svg {
    fill: @button-color;
  }

  &:active {
    opacity: 0.5;
  }

  &:active > .page-footer__logo-svg {
    opacity: 0.5;
  }
}

.page-footer__copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-footer__copyright-text {
  display: flex;
  align-items: center;

  font-family: "Arial", sans-serif;
  font-size: @little-font-size;
  text-align: center;
}

/*         Разметка под планшет         */

@media (min-width: @tablet-width) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;

    background-color: @background-color;
  }

  .page-footer__logo-image {
    margin: 37px 0;
    padding: 0;
  }

  .page-footer__social {
    justify-content: flex-start;
    padding-left: 35px;
    max-width: 350px;

    border: none;
  }

  .page-footer__social-item:not(:last-child) {
    margin-right: 30px;
  }

  .copyright__item:last-child {
    margin-left: 0;
  }

  .page-footer__logo-svg {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }

    &--htmlacademy {
      margin: 15px -7px;
    }
  }

  .page-footer__copyright-text {
    margin-right: 25px;
  }
}
