/*         Мобильная разметка         */

.page-header__container {
  padding-top: 15px;
}

.page-header__main-nav {
  position: relative;
}

.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 191px;
  height: 39px;
  margin-bottom: 15px;
}

.page-header__logo-image {
  display: block;
}

.page-header__logo:hover,
.page-header__logo:focus
{
  opacity: 0.7;
}

.page-header__logo:active {
  opacity: 0.5;
}

.page-header__toggle {
  position: absolute;
  top: -43px;
  right: 0;

  width: 25px;
  height: 20px;

  border: none;
  outline: none;
  background-color: #ffffff;
  background-image: url('../img/icon-mobile-menu.svg');
  background-repeat: no-repeat;
  background-position: center;

  &:hover, &:focus   {
    opacity: 0.7;
  }
}

.page-header__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-header__item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;

  &::after {
    content: '';
    position: absolute;
    left: -20px;
    right: -20px;
    bottom: 0px;
    height: 1px;
    background-color: @border-color;
  }

  &::before {
    content: '';
    position: absolute;
    left: -20px;
    right: -20px;
    top: 0px;
    height: 1px;
    background-color: @border-color;
  }
}


.page-header__link {
  margin: 0;
  padding: 5px 0;

  font-size: 20px;
  line-height: 1.25;
  color: @heading-color;
}

.page-header__link:hover,
.page-header__link:focus
{
  color: @cat-link-hover-color;
}

.page-header__link:active {
  color: @cat-link-active-color;
}

.page-header__link--active {
  border-bottom: 1px solid @button-color;
}

/*         Разметка под планшет         */

@media (min-width: @tablet-width) {

  .page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }

  .page-header__logo {
    width: 174px;
    height: 59px;
    margin: 0;
    padding: 0;
    margin-right: 95px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__list {
    display: flex;
    justify-content: space-between;
    width: 100%;

    border: none;
  }

  .page-header__item {
    margin-right: 35px;
  }

  .page-header__item:last-child {
    margin-right: 0;
  }

  .page-header__item {

  &::after {
    display: none;
  }

  &::before {
    display: none;
  }
}

  .page-header__link {
    margin: 0;
    padding: 5px 0;

    font-size: 20px;
    line-height: 1.25;
    color: @heading-color;
  }

}
