/*         Мобильная разметка         */

.site-list__icon-comb {
  fill: red;
}

.page-header__container {
  padding-top: 15px;
}

.page-header__main-nav {
  position: relative;
}

.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 203px;
  margin-bottom: 15px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-header__logo-image {
  display: block;
}

.page-header__toggle {
  position: absolute;
  top: -43px;
  right: 0;

  width: 25px;
  height: 20px;

  border: none;
  outline: none;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.main-nav--closed .page-header__toggle {
  background-image: url("../img/icon-mobile-menu.svg");
}

.main-nav--opened .page-header__toggle {
  background-image: url("../img/icon-close.svg");
}

.page-header__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-header__item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    top: 0;
    height: 1px;
    background-color: @border-color;
  }
}

.page-header__link {
  margin: 0;
  padding: 5px 0;

  font-size: @medium-font-size;
  line-height: @extra-large-line-height;
  text-transform: uppercase;
  white-space: nowrap;
  color: @heading-color;

  &:hover,
  &:focus {
    color: @cat-link-hover-color;
  }

  &:active {
    color: @cat-link-active-color;
  }
}

.page-header__link--active {
  border-bottom: 1px solid @button-color;
}

@media (max-width: 767px) {
  .main-nav--closed .page-header__list {
    display: none;
  }

  .main-nav--nojs .page-header__list {
    display: block;
  }

  .main-nav--nojs .page-header__toggle {
    background-image: none;
  }
}

/*         Разметка под планшет         */

@media (min-width: @tablet-width) {
  .page-header__container {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 25px;
  }

  .page-header__main-nav {
    margin-left: auto;
  }

  .page-header__logo {
    margin: 0;
    padding: 0;
  }

  .page-header__logo img {
    width: 174px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__list {
    display: flex;
    justify-content: space-between;
    width: 100%;

    border: none;
  }

  .page-header__item {
    margin-right: 35px;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .page-header__item:last-child {
    margin-right: 0;
  }

  .page-header__link {
    font-size: @medium-font-size;
    line-height: @huge-line-height;
    color: @heading-color;
  }
}

/*         Разметка под desktop        */

@media (min-width: @desktop-width) {
  .page-header__container {
    padding-top: 35px;
  }

  .page-header__picture img {
    width: 206px;
    height: 60px;
  }

  .page-header__link--colored {
    margin: 0;
    padding: 5px 0;

    font-size: @medium-font-size;
    line-height: @extra-large-line-height;
    text-transform: uppercase;
    color: #ffffff;

    &:hover,
    &:focus {
      color: #ffffff;
      opacity: 0.6;
    }

    &:active {
      color: #ffffff;
      opacity: 0.3;
    }
  }

  .page-header__link--active-colored {
    border-bottom: 1px solid #ffffff;
  }

  .page-header--background {
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    height: 696px;
    width: 50%;

    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
