.social__item:not(:last-child) {
  margin-right: 38px;
}

.social__link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

/*         Разметка под desktop        */

@media (min-width: @tablet-width) {
  .social__item:not(:last-child) {
    margin-right: 30px;
  }
}
