/*         Разметка под телефон         */

.work-principle__heading {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-size: 36px;
  line-height: 1.67;
  text-align: left;
  font-weight: normal;
  color: @heading-color;
}

.work-principle__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.work-principle__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.work-principle__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-right: 20px;

  background-color: @button-color;
}

.work-principle__description {
  display: inline-block;
  width: 70%;
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: @small-font-size;
  line-height: @large-line-height;
  text-align: left;
  color: @text-color;
}

.work-principle__icon-image {
  display: block;
}

/*         Разметка под планшет         */

@media (min-width: @tablet-width) {
  .work-principle {
    width: 100%;
  }

  .work-principle__heading {
    margin-bottom: 65px;

    font-size: 60px;
    line-height: 1;
  }

  .work-principle__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .work-principle__item {
    position: relative;

    flex-wrap: wrap;
    justify-content: space-between;
    width: 35%;
    margin-bottom: 90px;

    z-index: 1;
  }

  .work-principle__item--leaf {
    &::after {
      content: "1";

      position: absolute;
      bottom: 0;
      right: 0;

      font-size: 281px;
      color: @background-color;

      z-index: -1;
    }
  }

  .work-principle__item--powder {
    &::after {
      content: "2";

      position: absolute;
      bottom: 0;
      right: 0;

      font-size: 281px;
      color: @background-color;

      z-index: -1;
    }
  }

  .work-principle__item--dining {
    margin-bottom: 55px;

    &::after {
      content: "3";

      position: absolute;
      bottom: 0;
      right: 0;

      font-size: 281px;
      color: @background-color;

      z-index: -1;
    }
  }

  .work-principle__item--clock {
    margin-bottom: 55px;

    &::after {
      content: "4";

      position: absolute;
      bottom: 0;
      right: 0;

      font-size: 281px;
      color: @background-color;

      z-index: -1;
    }
  }

  .work-principle__icon-container {
    width: 80px;
    height: 80px;
    margin-bottom: 35px;
  }

  .work-principle__description {
    width: 100%;
    margin-bottom: 50px;

    font-size: 16px;
    line-height: 1.5;
  }
}

/*         Разметка под desktop        */

@media (min-width: @desktop-width) {
  .work-principle {
    margin-top: 80px;
  }

  .work-principle__item {
    width: 230px;
  }

  .work-principle__item--dining {
    margin-bottom: 90px;
  }

  .work-principle__item--clock {
    margin-bottom: 90px;
  }
}
