/*         Цвета        */

@button-color: #68b738;
@button-hover-color: rgb(94, 170, 47);
@button-additional-hover-color: #ebebeb;
@button-link-main-color: rgba(255, 255, 255, 0.3);
@button-link-major-color: rgba(68, 68, 68, 0.3);

@cat-link-active-color: rgba(17, 17, 17, 0.3);
@cat-link-hover-color: rgba(17, 17, 17, 0.6);

@border-color: #ededed;
@border-darker-color: #d9d9d9;
@input-border-color: rgb(205, 205, 205);
@input-border-major-color: rgba(205, 205, 205, 0.5);

@background-color: #f2f2f2;

@text-color: #444444;
@heading-color: #111111;


/*         Основные размеры        */

@tablet-width: 768px;
@desktop-width: 1200px;

/*         Параметры шрифтов на mobile версию        */

@font-small-mobile-size: 12px;
@font-medium-mobile-size: 14px;
@font-large-mobile-size: 16px;
@font-extra-large-mobile-size: 24px;
@font-huge-mobile-size: 36px;

@line-extra-small-mobile-height: 12px;
@line-small-mobile-height: 14px;
@line-medium-mobile-height: 16px;
@line-large-mobile-height: 18px;
@line-extra-large-mobile-height: 20px;
@line-huge-mobile-height: 24px;
@line-extra-huge-mobile-height: 36px;
@line-XXL-mobile-height: 36px;

/*         Параметры шрифтов на tablet/desktop версии        */

@font-extra-small-tablet-size: 16px;
@font-small-tablet-size: 20px;
@font-medium-tablet-size: 24px;
@font-large-tablet-size: 38px;
@font-huge-tablet-size: 60px;

@line-extra-small-tablet-height: 14px;
@line-small-tablet-height: 16px;
@line-medium-tablet-height: 20px;
@line-large-tablet-height: 24px;
@line-extra-large-tablet-height: 38px;
@line-huge-tablet-height: 60px;
